/*!
 * Start Bootstrap - Clean Blog v3.3.7+1 (http://startbootstrap.com/template-overviews/clean-blog)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
body {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 20px;
  color: #333333;
}
p {
  line-height: 1.5;
  margin: 30px 0;
}
p a {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}
a {
  color: #333333;
}
a:hover,
a:focus {
  color: #0085A1;
}
a img:hover,
a img:focus {
  cursor: zoom-in;
}

.option-block{
  margin: 25px 0;
  display: inline-block;
}

.card-header-tabs .nav-item{
  width: 33%;
  /*width: 25%;*/
  text-align: center;
}

#AllTbody{
  font-size: 12px;
}
.h2_gray{
  padding: 1rem 0;
  background-color: #DDD !important;
  font-size: 1.2rem;
  margin: 2rem 0 0 0;
  font-weight: bold;
}

#AllTbody tr td:nth-child(2n){
  text-align: right;
}

.red{
  color: red;
}

.small{
  font-size: 12px;
}

.calc-coefficient div{
  /*display: inline-block;*/
}

.margin-top{
  margin-top: 50px;
}

.inline-block{
  display: inline-block;
}

.btn-circle{
    border-radius: 50%;
}

.margin-li{
    /*list-style: none;*/
    margin-top: 10px;
    margin-bottom: 10px;
}

.edit-block{
    display: none;
    margin-top: 10px;
}

.add-field{
  color: #0d71bb;
}
.add-field:hover{
  /*text-decoration: none;*/
}
.opt-block, .opt-frame{
  display: none;
}

.hide-holder{
  display: none;
}

.count{
  position: absolute;
}

#Data .project-title h3{
  padding: 20px;
}

#Data .row{
  width: 95%;
}

#Data{
  overflow: auto;
}

/*table*/
.table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}


.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
  width: 200px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

/*.table tr:hover {background-color: #ddd;}*/

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;

}

#Data .table {
  table-layout: fixed; /* Ячейки фиксированной ширины */

}

#cityTbody th, #buildingTbody th{
  background: none;
  color: black;
}

/*calc*/
.table-calculate {
  display: inline-block;
}

.calc{
  overflow: auto;
  font-size: 14px;
  text-align: center;
}

.button-block{
  display: inline-block;
  width: 100%;
}

.padding-20{
  padding: 20px;
}

.display-block{
  display: block;
}

.calc-span{
  text-align: left;
}

#calk-tbody{
  display: none;
}

.td_table{
  display: none;
}

#result_block .green{
  color: green;
}
#result_block .red{
  color: red;
}